body {
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
    padding: 20px;
}

p {
    font-size: 16px;
}


#main-header {
    background-color: navy;
    color: white;
    text-align: center;
    margin: 25px;
    padding: 20px;
    border: 3px solid black;
}


.box {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 3px solid navy;
}

.layout-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

@media (min-width: 768px) {
    .layout-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;      
    }
}
@media (min-width: 1200px) {
    .layout-container {
        max-width: 1200px;
        margin: 0 auto;;      
    }
}

img {
    max-width: 300px;
    margin: 15px;
    padding: 5px;
    border: 2px solid black;
}
